.register {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}

.card {
  background-color: white;
  width: 400px;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.heading {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.switch {
  text-align: center;
  margin-top: 7px;
}
a{
  color: rgb(10, 165, 69);
}