input {
  font-size: 16px;
  padding-bottom: 10px;
  outline: 0;
  border: 0;
  width: 100%;
  border-bottom: 1.5px solid rgba(206, 147, 147, 0.25);
}

input:focus {
  border-bottom-color: rgb(10, 165, 69);
  border-bottom-width: 1.5px;
}

button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1.2px;
  background-color: rgb(10, 165, 69);
  width: 100%;
  color: white;
  outline: 0;
  border: 0;
  cursor: pointer;
}
.phone-number{
  display: flex;
  gap: 20px;
  .phone-code{
    width: 50px;
  }
}